#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.avatar-box {
  border-radius: 12px;
  padding: 16px;
  margin: 16px;
  background-color: #f9f9f9;
  width: 250px;
  text-align: left;
  border: solid 1px #ddd;
}
.avatar {
  border-radius: 50%;
  margin-bottom: 12px;
}

